<?xml version="1.0" ?>
<robot name="TurtleBot3 Burger RGB-D Webots">
    <webots>
        <device reference="kinect_color" type="Camera">
            <ros>
                <enabled>true</enabled>
                <alwaysOn>false</alwaysOn>
                <updateRate>10</updateRate>
                <topicName>/camera/color</topicName>
                <imageSuffix>/image_raw</imageSuffix>
                <frameName>camera_link</frameName>
            </ros>
        </device>

        <device reference="kinect_range" type="RangeFinder">
            <ros>
                <enabled>true</enabled>
                <alwaysOn>false</alwaysOn>
                <updateRate>10</updateRate>
                <topicName>/camera/depth</topicName>
                <imageSuffix>/image_raw</imageSuffix>
                <pointCloudSuffix>/points</pointCloudSuffix>
                <frameName>camera_link</frameName>
            </ros>
        </device>

        <plugin type="webots_ros2_driver::Ros2RGBD">
            <camera>kinect_color</camera>
            <alwaysOn>false</alwaysOn>
            <updateRate>10</updateRate>
            <rangeFinder>kinect_range</rangeFinder>
            <topicName>/camera/color/points</topicName>
            <frameName>camera_link</frameName>
        </plugin>

        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <updateRate>100</updateRate>
            <topicName>/imu</topicName>
            <alwaysOn>false</alwaysOn>
            <frameName>imu_link</frameName>
            <inertialUnitName>inertial_unit</inertialUnitName>
            <gyroName>gyro</gyroName>
            <accelerometerName>accelerometer</accelerometerName>
            <accelerometerBiasMin>0.1</accelerometerBiasMin>
            <accelerometerBiasMax>0.3</accelerometerBiasMax>
            <accelerometerNoiseMean>0.0</accelerometerNoiseMean>
            <accelerometerNoiseStddev>0.1</accelerometerNoiseStddev>
        </plugin>

        <plugin type="webots_ros2_control::Ros2Control" />
    </webots>

    <ros2_control name="WebotsControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
        <joint name="wheel_right_motor">
            <state_interface name="position"/>
            <command_interface name="velocity"/>
        </joint>
        <joint name="wheel_left_motor">
            <state_interface name="position"/>
            <command_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>
